header {
    background: #010101;
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 10;
    z-index: 1000;
    line-height: 1;
}

header p:first-child {
    font-size: 30px;
    color: #fff;
}
header p:last-child {
    font-size: 22px;
}


footer {
    background: #010101;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

body {
    font-family: Verdana;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    background: #010101;
    color: #fff;
    overflow-y: auto;
}

main {
    padding: 40px;
    overflow-y: auto;
    max-width: 800px;
    margin: 0 auto;
}

section p {
    margin-bottom: 1rem;
    font-size: 18px;
}

a {
    color: #010101;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.linkedin-link {
    color: rgba(40, 200, 221, 0.951);
}

.button {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  details {
    user-select: none;
  }
  
  details>summary span.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    margin-left: auto;
  }
  
  details[open] summary span.icon {
    transform: rotate(90deg);
  }
  
  summary {
    display: flex;
    cursor: pointer;
    align-items: center;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }